
.loginCtn {
  /* height: calc(635px - 45px - 40px); */
  width: calc(475px - 58px - 58px);
  border-radius: 24px;
  border: 1px solid #bdbdbd;
  padding: 45px 58px 40px;
  position: relative;
}
a {
  color: #2d9cdb;
  text-decoration: none;
}
footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  margin-left: -58px;
  margin-top: 40px;

  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 400;
  color: #828282;
}
footer p:first-child a {
  font-weight: 600;
  color: #828282;
  text-decoration: underline 1px #828282;
}
footer p:last-child a {
  font-weight: 400;
  color: #828282;
}

h1 {
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.035em;
  text-align: left;
  margin-top: 27px;
}
p {
  margin-top: 15px;
}